<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>챗봇 관리자 페이지</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css"/>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <style>
      .container {
        display: flex;
      }

      .sidebar {
        width: 200px;
      }

      .content {
          width: 100%;
          background-color: #f2f2f2;
      }
      .el-submenu .el-menu-item{
        color: #fff !important;
      }
      .el-submenu .el-menu-item:hover{
        background-color: #fff !important;
        color: black !important;
      }
      .top_box{
        width: 100%;
        height: 80px;
        background-color: #fff;
        padding: 10px 0 10px 20px;
        box-sizing: border-box;
        /* border: 1px solid #ccc; */
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;
      }

      .externhtml {
        width: 90%;
          height: 80%;
        padding: 20px;
        box-sizing: border-box;
      }

    </style>
  </head>
  <body>
    <div id="app" class="container">
      <div class="sidebar">
        <el-container>
            <el-aside width="200px" style="background-color: black;height: 100vh;">
              <el-menu
                :default-active="activeMenuItem"
                @select="handleMenuSelect"
                class="el-menu-vertical-demo">

                <el-submenu index="1">
                  <template slot="title"
                    ><i class="el-icon-location"></i>관리자</template>
                  <el-menu-item index="1-1">
                      <a @click.prevent="loadExternalContent('{% url 'add_notice' %}', 'externhtml')">공지 추가</a>
                  </el-menu-item>

                  <el-menu-item index="1-2">
                      <a @click.prevent="loadExternalContent('{% url 'add_question_answer' %}', 'externhtml')">질문 답변</a>
                  </el-menu-item>

                  <el-menu-item index="1-3">
                      <a @click.prevent="loadExternalContent('{% url 'chatbot_db_management' %}', 'externhtml')">챗봇 DB 관리</a>
                  </el-menu-item>
                </el-submenu>

              </el-menu>
            </el-aside>
        </el-container>

    </div>

      <!-- 右侧内容区域 -->

      <div class="content">
        <div class="top_box">
            <h3>관리자 페이지</h3>

            <div class="externhtml">

            </div>
        </div>

      </div>
    </div>

    <div class="content">
      <!-- "add_notice" 영역에 내용을 표시할 곳 -->
      <div id="add-notice"></div>
    </div>

    <script src="https://unpkg.com/element-ui@2.15.14/lib/index.js"></script>
    <script>
      new Vue({
            el: "#app",
            data: {
                activeMenu: "1",
                tableData: [
                    { date: "2023-11-11", name: "1", city: "News" },
                    { date: "2022-11-12", name: "2", city: "Broad" },
                    { date: "2022-11-33", name: "3", city: "Other" },
                ],
                selectedRows: [],
            },
            methods: {
                loadExternalContent(url, targetClass) {
                    try {
                        fetch(url)
                            .then(response => response.text())
                            .then(html => {
                                document.querySelector(`.${targetClass}`).innerHTML = html;
                            })
                            .catch(error => {
                                console.error("Error loading external content:", error);
                            });
                    } catch (error) {
                        console.error("Error loading external content:", error);
                    }
                },

                changeTableData(dataName) {
                    console.log(dataName);
                    if (dataName === "data1") {
                        this.tableData = [
                            { date: "2023-09-01", name: "1", city: "Broad" },
                            { date: "2023-09-02", name: "2", city: "Other" },
                            { date: "2023-09-03", name: "3", city: "Other" },
                        ];
                    } else if (dataName === "data2") {

                        this.tableData = [
                            { date: "2023-09-04", name: "2", city: "Broad" },
                            { date: "2023-09-05", name: "2", city: "News" },
                            { date: "2023-09-06", name: "4", city: "News" },
                        ];
                    } else if (dataName === "data3") {

                        this.tableData = [
                            { date: "2023-09-07", name: "3", city: "News" },
                            { date: "2023-09-08", name: "1", city: "Broad" },
                            { date: "2023-09-09", name: "4", city: "Other" },
                        ];
                    }
                },
                handleMenuSelect(index) {
                    // 菜单选择处理
                    this.activeMenu = index;
                    console.log("Menu selected:", index);
                },

                handleSelectionChange(val) {
                    this.selectedRows = val;
                },
                handleCommand(index, command) {
                    if (command === "add") {
                        console.log("Add");
                    } else if (command === "delete") {
                        console.log("Delete");
                        this.tableData.splice(index, 1);
                    }
                },
            },
        });


    </script>
  </body>
</html>
