<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>챗봇 관리자 페이지</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css"/>
    <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
    <style>
      .container {
        display: flex;
      }

      .sidebar {
        width: 200px;
      }

      .content {
          width: 100%;
          background-color: #f2f2f2;
      }

      .el-submenu .el-menu-item{
        color: black !important;
      }

      .el-submenu .el-menu-item:hover{
        background-color: #8c8c8c !important;
        color: black !important;
      }

      .top_box{
        width: 100%;
        height: 56px;
        background-color: #8c8c8c;
        padding: 10px 0 10px 10px;
        box-sizing: border-box;
      }

      .externhtml {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }

      .main{
          width: 100%;
          height: 100%;
      }

    </style>
</head>
    <body>
        <div id="app" class="container">
        <div class="sidebar">
            <el-container>
                <el-aside width="200px" style="background-color: #5e5e5e; height: 100vh;">
                    <el-menu :default-active="activeMenuItem" @select="handleMenuSelect" class="el-menu-vertical-demo">
                    <el-submenu index="1">
                        <template slot="title"><i class="el-icon-location"></i>관리자</template>
                        <el-menu-item index="1-1">
                            <a @click.prevent="loadExternalContent('/add_notice/', externhtml)">공지 추가</a>
                        </el-menu-item>
                        <el-menu-item index="1-2">
                            <a @click.prevent="loadExternalContent('/add_question_answer/', 'externhtml')">질문 답변</a>
                        </el-menu-item>
                        <el-menu-item index="1-3">
                            <a @click.prevent="loadExternalContent('/chatbot_db_management/', 'externhtml')">챗봇 DB 관리</a>
                        </el-menu-item>
                        <el-menu-item index = "1-4">
                            <a href= "http://127.0.0.1:8000/">챗봇으로 돌아가기</a>
                        </el-menu-item>
                    </el-submenu>
                    </el-menu>
                </el-aside>
            </el-container>
        </div>

        <div class="main">
            <div class="top_box">
                <div style="font : 30px white">관리자 페이지</div>
            </div>

            <div class="content">
                <div class="externhtml"></div>
                <div id="add-notice"></div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/element-ui@2.15.14/lib/index.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                activeMenu: null,
                tableData: [],
                selectedRows: [],
            },
            methods: {
                async loadExternalContent(url, targetClass) {
                    try {
                        event.preventDefault();
                        const response = await fetch(url);
                        const html = await response.text();

                            // 화면에 불러온 HTML을 적용할 대상 엘리먼트를 찾음
                        const targetElement = document.querySelector(`.${targetClass}`);
                        if (targetElement) {
                            // targetElement의 innerHTML로 불러온 HTML을 주입
                            targetElement.innerHTML = html;

                            // 주입된 HTML 내의 script 태그를 찾아서 실행
                            const scriptElements = targetElement.querySelectorAll('script');
                            scriptElements.forEach(script => {
                                const newScript = document.createElement('script');
                                newScript.innerHTML = script.innerHTML;
                                script.parentNode.replaceChild(newScript, script);
                            });
                        }
            } catch (error) {
                console.error("Error loading external content:", error);
            }
        },
                changeTableData(dataName) {
                console.log(dataName);
                if (dataName === "data1") {
                    this.tableData = [
                    ];
                } else if (dataName === "data2") {

                    this.tableData = [
                    ];
                } else if (dataName === "data3") {
                    this.tableData = [
                    ];
                }
            },
            handleMenuSelect(index) {
                this.activeMenu = index;
                if (index=='1-1'){
                    event.preventDefault();
                    this.loadExternalContent('{% url 'add_notice' %}', 'externhtml');
                }
                else if (index=="1-2"){
                    event.preventDefault();
                    this.loadExternalContent('{% url 'add_question_answer' %}', 'externhtml');
                }
                else if (index=="1-3"){
                    event.preventDefault();
                    this.loadExternalContent('{% url 'chatbot_db_management' %}', 'externhtml');
                }
            },
            handleSelectionChange(val) {
                this.selectedRows = val;
            },
            handleCommand(index, command) {
                if (command === "add") {
                    console.log("Add");
                } else if (command === "delete") {
                    console.log("Delete");
                    this.tableData.splice(index, 1);
                }
            },
        },
    });

</script>
    </body>
</html>