<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>소프트웨어공학과 챗봇 관리 home</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        a {
            margin: 10px; /* 각 링크 사이에 간격을 주기 위해 마진을 설정합니다. */
        }
    </style>
</head>
<body>
    <a href="{% url 'add_notice' %}">공지 추가</a>
    <a href="{% url 'add_question_answer' %}">질문 답변</a>
    <a href="{% url 'chatbot_db_management' %}">챗봇 DB 관리</a>
</body>
</html>