<!DOCTYPE html>
{% load static %}
<html lang="en-us">

<head>
    <title>소프트웨어공학과 챗봇</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={% static 'css/styles.css' %}>

</head>

<body>
    <!-- 소프트웨어공학과 홈페이지 -->
    <div class="logo">
        <a href="https://software.jbnu.ac.kr/software/index.do">
            <img src="https://software.jbnu.ac.kr/sites/software/images/logo.png" alt="JBNU_SW"></a>
    </div>
    <div class="text">
        소프트웨어공학과 <챗봇></챗봇>
    </div>

    <div class="sidebar">
        <div class="notice-title" onmouseover="showNotice()" onmouseout="hideNotice()">Notice</div>
    </div>

    <!-- 메인 화면 -->
    <header>
        <div>
            <div id="chat-container">
                <div id="chat-display"></div>
                <div id="input-container">
                    <label for="user-input"></label>
                    <input type="text" id="user-input" placeholder="메시지를 입력하세요" />
                    <button onclick="sendMessage()">전송</button>
                </div>
                <div class="admin">
                    <a href="/admin_page">관리자 페이지</a>
                </div>
            </div>
        </div>
    </header>

    <!-- 공지사항 부분 -->
    <div class="notice-panel" onmouseover="showNotice()" onmouseout="hideNotice()">
        <h2>공지 사항</h2>
        <div class="notice-content">
            {% if notices %}
                <ul class="notice-list">
                    {% for notice in notices %}
                        <li>
                            <div class="notice-item">
                                <div class="notice-title">{{ notice.title }}</div>
                                <div class=".content">{{ notice.content }}</div>
                            </div>
                            <p>             </p>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>공지사항이 없습니다.</p>
            {% endif %}
        </div>
    </div>

    <script>
        function sendMessage() {
            let user_input = document.getElementById('user-input').value;
            document.getElementById('user-input').value = '';

            let chat_display = document.getElementById('chat-display');
            chat_display.innerHTML += '<p class="user-message">사용자: ' + user_input + '</p>';

            let xhr = new XMLHttpRequest();
            xhr.open('POST', ' ', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        let response = JSON.parse(xhr.responseText).response;
                        chat_display.innerHTML += '<p class="chatbot-message">챗봇: ' + response + '</p>';
                    } else {
                        console.error('서버 응답 오류:', xhr.status);
                    }
                }
            };

            xhr.send('user_input=' + encodeURIComponent(user_input));
        }

        // Enter 키 이벤트 처리
        document.getElementById('user-input').addEventListener('keyup', function (event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });

        // 마우스 호버 이벤트 처리
        function showNotice() {
            let noticePart = document.querySelector('.notice-panel');
            noticePart.style.bottom = '0';
        }

        // 마우스 아웃 이벤트 처리
        function hideNotice() {
            let noticePart = document.querySelector('.notice-panel');
            noticePart.style.bottom = '-40%';
        }
    </script>
</body>

</html>